<footer>
	<nav>
		<ul>
			<li class="item1"><a href="">foot li</a></li>
			<li class="item2"><a href="">foot li</a></li>
			<li class="item3"><a href="">foot li</a></li>
			<li class="item4"><a href="">foot li</a></li>
			<li class="item5"><a href="">foot li</a></li>
			<li class="item6"><a href="">foot li</a></li>
			<li class="item7"><a href="">foot li</a></li>
			<li class="item8"><a href="">foot li</a></li>
			<li class="item9"><a href="">foot li</a></li>
			<li class="item10"><a href="">foot li</a></li>
		</ul>
	</nav>
</footer>