<header>
	<h1>Simon's Website</h1>
	<nav class="gnb">
		<ul>
			<li><a href="">header item 1</a></li>
			<li><a href="">header item 2</a></li>
			<li><a href="">header item 3</a></li>
			<li><a href="">header item 4</a></li>
			<li><a href="">header item 5</a></li>
		</ul>
	</nav>
</header>