body {
  margin: 10px 20px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0;
  padding-left: 0;
}

.border-box {
  margin: 0;
  padding: 0;
}

body {
  margin: 100%;
}

.box {
  top: 10%;
}
