@import url(foo.css);
@import "http://foo.com/bar";
@import url(foo);
/*
 haha
 haha
 */
.container .row::before {
  content: '';
}

.lt-ie8 .container .row {
  zoom: 1;
}

.container .row .lt-ie9 {
  zoom: 2;
  zoom: 3;
  zoom: 43333;
}

.container .row-2 {
  margin: 0;
}

.container-2 .col-1 {
  width: 640px;
  width: 640px;
  width: 640px;
  width: 640px;
  width: 640px;
  width: 640px;
  width: 640px;
  width: 640px;
  width: 640px;
  width: 640px;
  width: 640px;
  width: 640px;
  width: 640px;
  width: 640px;
  width: 640px;
  width: 640px;
  width: 640px;
  width: 640px;
  width: 640px;
  width: 640px;
}
