/* for commonly used styles*/

/*for resetting list styles*/
.reset-list ul,
.reset-list ol,
ul.reset-list,
ol.reset-list {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}

/*마우스를 올리면 뜻이 나오도록 유도*/
abbr {
	cursor: help;
	text-decoration: underline;
}

/*이미지 하단의 공백을 없애줌*/
img {
	vertical-align: bottom;
}

/*인쇄환경에서 링크나 줄인말을 명시적으로 표시해줌*/
@media print {
	a::after {
		content: ' (' attr(href) ')';
	}
	abbr::after {
		content: ' (' attr(title) ')';
	}
}
