@charset "UTF-8";
/* for commonly used styles*/

/*for resetting list styles*/
.reset-list ul,
.reset-list ol,
ul.reset-list,
ol.reset-list {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}

/*마우스를 올리면 뜻이 보임*/
abbr {
	cursor: help;
	text-decoration: underline;
}

/*이미지 하단의 공백을 없애줌*/
img {
	vertical-align: bottom;
}

/*인쇄환경에서 링크나 줄인말을 명시적으로 표시해줌*/
@media print {
	a::after {
		content: ' (' attr(href) ')';
	}
	abbr::after {
		content: ' (' attr(title) ')';
	}
}

/*
For fixing the issue of "if child element is floated, parent element doens't wrap it properly." Adds a line at the end that the parent has to wrap. 
Type 1
.clearfix::after {
	content: 'pseudo element';
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
}*/

/*Type 2*/
.clearfix::after {
	content: '';
	clear: both;
	display: block;
}

/*
Type 3 - good for Opera
.clearfix::before,
.clearfix::after {
	content: '';
	display: table;
}

clearfix::after {
	clear: both;
}*/

/*
for IE - use with filtering method
.lt-ie8 .clearfix {
	zoom: 1;
}
*/
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
이미지 대체 기법
*/
.ir {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
}

/*img.overflow*/

/* 
박스 사이징: IE 8+ 에서 padding과 border을 넣었을 때 
전체 width height가 그대로 남아있는다. 
한마디로 `width` `height`의 범위가 border까지 늘어난 것.
*/
.box-sizing *,
.box-sizing *::before,
.box-sizing *::after {
	/* box-sizing: border-box; */
}

/* 
이미지 하단에 공백을 형성하여 옆으로 배치되는 글들이 
동일한 공간을 가질 수 있도록 설정해줌.
float를 사용할 때 쓸모 있을 지도? 
*/
.blank-bottom-img img + *,
img.blank-bottom + * {
	overflow: hidden;
}


/* 스크린리더에서 읽을 수 있는 숨김 텍스트 */
.visually-hidden {
	overflow: hidden;
	position: absolute;
	clip: rect(0,0,0,0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
}
.visually-hidden.focusable:focus {
	overflow: visible;
	position: static;
	clip: auto;
	width: auto;
	height: auto;
	margin: 0;
}

.small-caps { font-variant: small-caps; }
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }


.breaking-news {
	background-color: antiquewhite;
}