body {
	font-family: 돋움, Dotum, Sans-serif;
}

/*li*/
.template li {
	border: 1px solid #ECECEC;
	float: left;
}
.corner-item {
	background-color: #FBFBFB;
}

/*a*/
.template a {
	text-decoration: none;
}


/*title*/
.item-title {
	color: #262626;
}
.corner-item .item-title{
	color: #454545;
}

/*preview*/
.item-preview {
	color: #757474;
}

/*author name*/
.item-author-name {
	color: #00A0B6;
}
.default-item .item-author-name {
	color: #959595;
}