html { font-size: 150%; }

body {
	/*background-image: linear-gradient(180deg, transparent 96%, #EC4949 96%);*/
	-webkit-background-size: 10px 1rem;
	background-size: 10px 1rem;
	font-family: "Spoqa Han Sans", Sans-serif;
}
.typography-example { position: relative; }
.title {
	font-family: Helvetica, Sans-Serif;
	font-weight: 200;
	font-size: 1rem;
	color: #969595;
}
span {
	font: 0.58rem "Spoqa Han Sans", Sans-Serif;
	color: #C0C1C2;
	letter-spacing: 1.1px;
	line-height: inherit;
	vertical-align: bottom;
}
.element-label {
	display: block;
	float: right;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.subtitle { margin-left: 1.17rem; }
hr {
	border: 0;
	border-bottom: 1px solid #DFDFDF;
	margin-bottom: 2rem;
}
h1,h2,h3,h4,h5,h6 { margin-bottom: 1rem; color: #272522; font-weight: 700; }
h1,h2,h3,h4:not(.title),h5,h6,p { position: relative; left: 4.71rem; }
h1 { font-size: 2.28rem; line-height: 3rem; }
h2 { font-size: 1.73rem; line-height: 2rem; }
h3 { font-size: 1.32rem; line-height: 2rem; }
h4 { font-size: 1.01rem; line-height: 1rem; }
h5 { font-size: 0.77rem; line-height: 1rem; }
h6 { font-size: 0.58rem; line-height: 1rem; }
p {
	font-weight: 400;
	font-size: 0.58rem;
	color: #505050;
	letter-spacing: 1.1px;
	line-height: 1rem;
	margin-bottom: 1rem;
}

.style1, .style2 { margin-bottom: 5rem; }
table { 
	margin-bottom: 0; 
	font: bold 0.58rem/calc(2rem - 2px) "Spoqa Han Sans"; 
	text-align: left; 
	
}
tr:not(.mult-row), th, td { height: 2rem; overflow: hidden; vertical-align: middle;}
td { font-weight: normal; text-align: center; padding: 0 2rem; }
th:first-child { width: 11rem; padding: 0 1.5rem; }
thead th { text-align: center; }
.style1 tbody tr { border-bottom: 1px solid #E2E1E1; }
.style1 thead { border-top: 1px solid #E2E1E1; border-bottom: 1px solid #E2E1E1; background-color: #F8F8F8; }
.style2 thead,
.style2 tbody { border-bottom: 1px solid #505050; }
.style2 .mult-row th { height: 4rem; overflow: hidden;}
.style2 .mult-row:not(:first-of-type) { border-top: 1px solid #E2E1E1; }
.style2 tbody tr:not(.mult-row) { border-top: 1px dashed #E2E2E1 }