html { font-size: 150%; }

body {
	/* background-image: linear-gradient(180deg, transparent 96%, #EC4949 96%); */
	/* -webkit-background-size: 10px 1rem; */
	/* background-size: 10px 1rem; */
	font-family: "Spoqa Han Sans", Sans-serif;
	/* width: 1000px; */
	/* margin: 0 auto; */
}
.typography-example { position: relative; }
.title {
	font-family: Helvetica, Sans-Serif;
	font-weight: 200;
	font-size: 1rem;
	color: #AAA;
}
span, .element-label {
	font: 0.5833em "Spoqa Han Sans", Sans-Serif;
	color: #C0C1C2;
	letter-spacing: 1.1px;
	line-height: inherit;
	vertical-align: bottom;
}
.element-label {
	display: block;
	float: right;
	position: absolute !important;
	top: 50%;
	transform: translate(-150%, -50%);
}
.paragraph-label {
	top: 1em;
}
.subtitle { margin-left: 1.17rem; }
hr {
	border: 0;
	border-bottom: 1px solid #DFDFDF;
	margin-bottom: calc(2rem - 1px);
}
h1,h2,h3,h4,h5,h6 { margin-bottom: 1rem; color: #272522; font-weight: 700; }
.typography h1,.typography h2,.typography h3,.typography h4:not(.title),.typography h5,.typography h6,.typography p { position: relative; left: 4.71rem; }
h1 { font-size: 2.28rem; line-height: 3rem; }
h2 { font-size: 1.73rem; line-height: 2rem; }
h3 { font-size: 1.32rem; line-height: 2rem; }
h4 { font-size: 1.01rem; line-height: 1rem; }
h5 { font-size: 0.77rem; line-height: 1rem; }
h6 { font-size: 0.58rem; line-height: 1rem; }
p {
	font-weight: 400;
	font-size: 0.58rem;
	color: #505050;
	letter-spacing: 1.1px;
	line-height: 1rem;
	margin-bottom: 1rem;
}

.style1, .style2 { margin-bottom: 5rem; }
table {
	margin-bottom: 0;
	font: bold 0.58rem/calc(2rem - 1px) "Spoqa Han Sans";
	text-align: left;
}
table, thead, tbody, th, tr, td { overflow: hidden; }
tr:not(.mult-row), th, td { height: calc(2rem - 1px); vertical-align: middle;}
td { font-weight: normal; text-align: center; padding: 0 2rem; }
th:first-child { width: 11rem; padding: 0 1.5rem; }
thead th { text-align: center; }
.style1 tbody tr { border-bottom: 1px solid #E2E1E1; }
.style1 thead {border: 1px 0px 1px 0px solid #E2E1E1; height: calc(2rem - 2px); background-color: #F8F8F8}
.style2 thead,
.style2 tbody { border-bottom: 1px solid #505050; }
.style2 .mult-row th { height: calc(4rem - 1px);}
.style2 .mult-row:not(:first-of-type) { border-top: 1px solid #E2E1E1; }
.style2 tbody tr:not(.mult-row) { border-top: 1px dashed #E2E2E1 }

ul, ol, dl {
	font: 0.5833rem/1rem "Spoqa Han Sans", Sans-Serif;
}
.list div {
	float: left;
	margin-right: 3rem;
}
ul, ol {
	padding-left: 1.2em;
	list-style-type: none;
	color: #333741;
}
li {
	display: block;
}
li:before {
	content: '';
	display: list-item;
	float: left;
}
ul li:before {
	list-style-type: disc;
	color: #969595;
}
ul ul li:before , ol ul li:before {
	list-style-type: circle;
	color: #9B9A9A;
}
ol li:before {
	list-style-type: decimal;
}
ol ol li:before, ul ol li:before {
	list-style-type: decimal;
	color: #9B9A9A;
}
li:last-child {
	margin-bottom: 24px;
}
dd {
	padding-left: 1.5em;
}
