<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>Home page</title>
</head>
<body>
	<% include partials/header.ejs %>
	<h1>Home</h1>
	<p>this is home.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora odit earum odio, expedita rerum maxime soluta nam officiis aperiam nisi perspiciatis saepe non, neque deleniti optio quis! Itaque, perspiciatis, repudiandae.</p>

	<% include partials/footer.ejs %>
</body>
</html>