header nav ul, header nav ol,
header nav {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none; }

header nav {
  text-transform: uppercase; }

section:not(.info) h2 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
