header {
	position: absolute;
	z-index: 200;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	background-color: hsla(255,255,255,0);
	color: grey;
}
/*div, section, a, h2, p, span, nav, ul {
	outline: 1px yellow dashed;
}*/
a.logo svg {
	position: relative; z-index: 300;
	fill: #333;
}
a.logo {
	display: block;
	width: 400px;
	margin: 0 auto;
	border: none;
}
header nav {
	position: absolute;
	color: white;
	top: 50%;
	text-shadow: 1px 1px 1px lightgrey;
}
header nav.main {
	right: 75%;
	/*transform: translateX(-50%);*/
}
header nav a {
	color: inherit;
	text-decoration: none;
	font: 16px/1.5 Sans-Serif;
}
header ul.depth-1 > li {
	float: left;
	margin-right: 8px;
	height: 1.2em;
	line-height: 1.2em;
	position: relative;
	padding-bottom: 1em;
}
header ul.depth-2 {
	background-color: grey;
	padding: 1rem;
	position: absolute;
	top: 1.6em;
	left: 0;
	display: none;
}
header ul.depth-2 li,
header ul.depth-2 a {
	height: 1em;
	line-height: 1.5;
	width: auto;
}
/* a 혹은 li에만 hover/focus을 적용하는 건 접근성 문제가 있는 방식이다! 탭 네비게이션을 할 수가 없다. 자바스크립트로 해결할 수 있다*/
/* 4가지 원칙 중 2번째 기기 접근성 어긋남.*/
/* 그렇다고 li에만 적용하더라도 접근성 안됨. */
/* 미국은 접근성 심사가 매우 업격하고 벌금이 빡세다 */
header nav ul.depth-1 a:focus + .depth-2,
header nav ul.depth-1 a:hover + .depth-2,
header nav ul.depth-1 > li:hover > .depth-2 {
	display: initial;
}

header nav.util {
	left: 75%;
	/*transform: translateX(50%);*/
}

section.video-bg {
	color: #fff;
	position: relative;
	z-index: 0;
}
.video-area {
	filter: contrast(80%) grayscale(70%);
	position: relative;
	z-index: -100;
}

/*section.video-bg a:focus {
	outline: 10px dashed blue;
}*/
section.video-bg::before {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: radial-gradient(circle, transparent, #555);
}
section.video-bg video{
	width: 100%;
}
section.video-bg .text-area {
	color:white;
	text-shadow: 1px 1px 1px black;
	width: 60%;
	font: 2em/1.5 Helvetica, Arial, Sans-Serif;
	text-align: center;
	position: absolute;
	top: 18vw;
	left: 50vw;
	transform: translateX(-50%);
}
section.video-bg p {
	font-size: 0.5em;
}
.icon-arrow {
	transition: all 0.25s linear;
	transform: translateX(0%);
	display: inline-block;
}
/*a:hover{ cursor: text; }*/
a:hover span {
	transform: translateX(100%);
}

@media only screen and (max-width: 900px) {

}