<!DOCTYPE html>
<!--[if !IE]><!--><html lang="ko-KR"><!--<![endif]-->
<!--[if IE 6]><html lang="ko-kr" class="ie6"><![endif]-->
<!--[if IE 7]><html lang="ko-kr" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="ko-kr" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="ko-kr" class="ie9"><![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Contact Page &lt; FDS</title>
	<link rel="stylesheet" href="/css/stylesheet.css">
	<link rel="shortcut icon" href="/images/favicon.png">
</head>
<body>
	<h1>Contact Page</h1>
	<p>
		<a href="../page.html">Home</a>
		<a href="about.html">About</a>
		<a href="project.html">Project</a>
		<a href="contact.html">Contact</a>
	</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, mollitia voluptatibus possimus aliquam repellat et sint molestiae non iure eius? Temporibus quae optio vero sit, modi repellat at cumque. Eos.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, mollitia voluptatibus possimus aliquam repellat et sint molestiae non iure eius? Temporibus quae optio vero sit, modi repellat at cumque. Eos.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, mollitia v	oluptatibus possimus aliquam repellat et sint molestiae non iure eius? Temporibus quae optio vero sit, modi repellat at cumque. Eos.</p>
</body>
</html>