<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>About | Simon's Homepage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Simon">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="shortcut icon" type="image/x-icon" href="../image/favicon.png">
</head>
<body>
	<h1>Simon Seo</h1>
	<p id="menubar">
		<a href="../index.html">Home</a>
		<a href="../view/about.html">About</a>
		<a href="../view/photo.html">Photographer</a>
		<a href="../view/develop.html">Developer</a>
		<a href="../view/recipe.html">Foody</a>
	</p>

		<p><strong>Hi.</strong> I'm Simon. I am a programmer who also loves photos and food. Check out my website if you have time. I listed some of my projects, photos, and favorite recipes. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam optio necessitatibus laboriosam doloremque cumque, quam maiores maxime iure. Incidunt, quam, illum. Suscipit nihil illo in blanditiis excepturi cupiditate amet et corporis veniam veritatis sint quo repellendus, tempore iste consectetur doloremque accusamus esse atque fugit consequuntur, temporibus est. Quas blanditiis tenetur quae doloremque numquam esse, at possimus totam! Rem praesentium, laborum esse quo molestias adipisci nisi, enim consequatur quos porro. Quasi dignissimos non enim magnam at rerum vero, nihil aliquid consectetur quia rem possimus modi voluptas explicabo quo fuga molestiae alias dolorem quae, dolor distinctio sapiente assumenda. Veritatis a blanditiis magnam.</p>

		<p>
			<hr>
			<a href="https://www.facebook.com/simon.seo2"><img src="../image/instantlogosearch-facebook.png" alt="Facebook link" width="25" height="25"></a>
			<a href="https://github.com/simonseo"><img src="../image/svgporn-github.png" alt="GitHub link" width="25" height="25"></a>
			<a href="https://www.flickr.com/photos/127271420@N04/"><img src="../image/svgporn-flickr.png" alt="Flickr link" width="25" height="25"></a>
			<br>
			&#9993; <a href="mailto:simon.seo@nyu.edu">simon.seo@nyu.edu</a>
			<br>
			&phone; 010-8885-9608
		</p>
	</body>
	</html>