<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>Photographer | Simon's Homepage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Simon">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="shortcut icon" type="image/x-icon" href="../image/favicon.png">
</head>
<body>
	<h1>Simon Seo</h1>
	<p id="menubar">
		<a href="../index.html">Home</a>
		<a href="../view/about.html">About</a>
		<a href="../view/photo.html">Photographer</a>
		<a href="../view/develop.html">Developer</a>
		<a href="../view/recipe.html">Foody</a>
	</p>


	<p>Hi. I'm Simon. I am an avid <strong>photographer</strong> but I also code and eat for a living. Make sure to check out my other pages! Here are some of my photos. Click on the photos to view their originals. Although this homepage was created as a homework, all of these photos are mine and copyrighted. Moreover, they are very personal photos. Please be mindful when sharing.</p>
	
	<p class="photo">
		<a href="https://farm8.staticflickr.com/7507/16247439912_e8d191a092_o_d.jpg"><img src="https://farm8.staticflickr.com/7507/16247439912_405ce2026b_z_d.jpg" alt="Bus in Cambridge, UK &copy; 2014 Simon Seo"></a><br>
		Bus in Cambridge, UK <br>&copy; 2014 Simon Seo
	</p>
	<p class="photo">
		<a href="https://farm8.staticflickr.com/7733/27209374150_327a9cd3f8_o_d.jpg"><img src="https://farm8.staticflickr.com/7733/27209374150_e983ae9725_z_d.jpg" alt="Father, South Korea &copy; 2016 Simon Seo"></a><br>
		Father, South Korea <br>&copy; 2016 Simon Seo
	</p>
	<p class="photo">
		<a href="https://farm8.staticflickr.com/7133/27414379431_bf8492f6e5_o_d.jpg"><img src="https://farm8.staticflickr.com/7133/27414379431_f698ca1d64_z_d.jpg" alt="Security Guard, United Arab Emirates &copy; 2015 Simon Seo"></a><br>
		Security Guard, United Arab Emirates <br>&copy; 2015 Simon Seo
	</p>
	<p class="photo">
		<a href="https://farm8.staticflickr.com/7154/27209377520_0c59946652_o_d.jpg"><img src="https://farm8.staticflickr.com/7154/27209377520_994164e670_z_d.jpg" alt="&ldquo;Is this the right train?&rdquo;, South Korea &copy; 2016 Simon Seo"></a><br>
		&ldquo;Is this the right train?&rdquo;, South Korea <br>&copy; 2016 Simon Seo
	</p>
	<p class="photo">
		<a href=""><img src="" alt=""></a>
	<a href="#menubar">Return to top</a>
	</p>



	<p>
		<hr>
		<a href="https://www.facebook.com/simon.seo2"><img src="../image/instantlogosearch-facebook.png" alt="Facebook link" width="25" height="25"></a>
		<a href="https://github.com/simonseo"><img src="../image/svgporn-github.png" alt="GitHub link" width="25" height="25"></a>
		<a href="https://www.flickr.com/photos/127271420@N04/"><img src="../image/svgporn-flickr.png" alt="Flickr link" width="25" height="25"></a>
		<br>
		&#9993; <a href="mailto:simon.seo@nyu.edu">simon.seo@nyu.edu</a>
		<br>
		&phone; 010-8885-9608
	</p>
</body>
</html>
