<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>Developer | Simon's Homepage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Simon">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="shortcut icon" type="image/x-icon" href="../image/favicon.png">
</head>
<body>
	<h1>Simon Seo</h1>
	<p id="menubar">
		<a href="../index.html">Home</a>
		<a href="../view/about.html">About</a>
		<a href="../view/photo.html">Photographer</a>
		<a href="../view/develop.html">Developer</a>
		<a href="../view/recipe.html">Foody</a>
	</p>

	<p>Hi. I'm Simon. I am an avid <strong>eater</strong> but I also practice photography and code for a living. Make sure to check out my other pages! Here is my absolute favorite food in the world. It's called 김치찌개 (Kimchi Chigae). Click on the photo to view the recipe. 
	</p>

	<p class="photo">
		<a href="http://tvcast.naver.com/v/403044"><img src="../image/kimchi.jpg" alt="Kimchi Chigae recipe screenshot"></a>
	</p>

	<p>
		<hr>
		<a href="https://www.facebook.com/simon.seo2"><img src="../image/instantlogosearch-facebook.png" alt="Facebook link" width="25" height="25"></a>
		<a href="https://github.com/simonseo"><img src="../image/svgporn-github.png" alt="GitHub link" width="25" height="25"></a>
		<a href="https://www.flickr.com/photos/127271420@N04/"><img src="../image/svgporn-flickr.png" alt="Flickr link" width="25" height="25"></a>
		<br>
		&#9993; <a href="mailto:simon.seo@nyu.edu">simon.seo@nyu.edu</a>
		<br>
		&phone; 010-8885-9608
	</p>
</body>
</html>


